/* ----------------
     BUN BERRIES
-----------------*/

#heathHealOneTag, #waterTag, #satTag, #strenthTag, #stealthTag, #luckTag {
     display: none;
}

/* ----------------
    INV STUFF
-----------------*/

#invetoryToggleOn, #inventory, #AchievementsGallery, #achievementToggleOn {
     display: none;
}

/* -- */
.unlockedArmor {
     display: block;
}
.lockedArmor {
     display: none;
}
/* ------------
    ACHS
-------------*/
.unlockedAch {
     display: block;
     aline-items: center;
     font-size: 20px;
     margin-bottom: 10px;
     height: 50px;
     width: 250px;
     border: #2afefe groove 10px;
     padding-bottom: 10px;
}
.achText {
     display: block;
     float: right;
     padding-right: 10px;
}

.achImage {
     display: block;
     float: left;
     padding-top: 10px;
}
/* ------------
    ARMORS
-------------*/

/* commonHead == #FigWreath, #WoodHelmet, #LeatherBandana, #PaintHelmet, #BasicExplorersHelmet  */

/* commonChest */
#FigLeafBreastplate, #Woodplate, #LeatherChestplate, #PaintedArmor, #BasicExplorersChestplate {
  display: none;
}

/* commonLeg */
#TheFigLeaf, #WoodenLegPadding, #LeatherLeggings, #PaintedOnLeggings, #BasicExplorersLeggings {
  display: none;
}


/* uncommonHead */
#uncommonHead, #FruitHat, #SafariHat, #RubberMask, #MudMask, #TinHead, #StoneHelmet, #GlassHelmet, #NickleHelmet, #ChainHelmet, #CopperHelmet, #BrassHelmet {
  display: none;
}

/* uncommonChest */
#uncommonChest, #CoconutShellBrestPlate, #SafariVest, #RubberChestplate, #MudChestplate, #TinChestplate, #StoneChestplate, #GlassChestplate, #NickleChestplate, #ChainChestplate, #CopperChestplate, #BrassChestplate {
  display: none;
}

/* uncommonLeg */
#uncommonLeg, #BananaLeavesSkirt, #SafariPants, #RubberLeggings, #MudLeggings, #TinLeggings, #StoneLeggings, #GlassLeggings, #NickleLeggings, #ChainLeggings, #CopperLeggings, #BrassLeggings {
  display: none;
}

