/* ----------------
     BUN BERRIES
-----------------*/
#heathHealOneTag, #waterTag, #satTag, #strenthTag, #stealthTag, #luckTag {
     display: none;
}

/* ----------------
    INV STUFF
-----------------*/

#invetoryToggleOn, #inventory, #AchievementsGallery, #achievementToggleOn {
     display: none;
}

/* -- */
.unlockedArmor {
     display: block;
}
.lockedArmor {
     display: none;
}
.creditText {
     font-size: 10px;
     list-style-type: circle;
}

/* ------------
    ACHS
-------------*/
.unlockedAch {
     display: block;
     aline-items: center;
     font-size: 20px;
     margin-bottom: 10px;
     height: 50px;
     width: 250px;
     border: #2afefe groove 10px;
     padding-bottom: 10px;
}
.achText {
     display: block;
     float: right;
     padding-right: 10px;
}

.achImage {
     display: block;
     float: left;
     padding-top: 10px;
}

.lockedAch {
     display: block;
     aline-items: center;
     font-size: 20px;
     margin-bottom: 10px;
     height: 50px;
     width: 250px;
     border: #410c73 groove 10px;
     padding-bottom: 10px;
}
.lockachText {
     display: block;
     float: right;
     padding-right: 10px;
}

.lockachImage {
     display: block;
     float: left;
     padding-top: 10px;
}
/* ------------
    ARMORS
-------------*/

/* commonHead == #FigWreath, #WoodHelmet, #LeatherBandana, #PaintHelmet, #BasicExplorersHelmet */
/* commonChest == #FigLeafBreastplate, #Woodplate, #LeatherChestplate, #PaintedArmor, #BasicExplorersChestplate */
/* commonLeg == #TheFigLeaf, #WoodenLegPadding, #LeatherLeggings, #PaintedOnLeggings, #BasicExplorersLeggings */

/* uncommonHead == #uncommonHead, #FruitHat, #SafariHat, #RubberMask, #MudMask, #TinHead, #StoneHelmet, #GlassHelmet, #NickleHelmet, #ChainHelmet, #CopperHelmet, #BrassHelmet */
/* uncommonChest == #uncommonChest, #CoconutShellBrestPlate, #SafariVest, #RubberChestplate, #MudChestplate, #TinChestplate, #StoneChestplate, #GlassChestplate, #NickleChestplate, #ChainChestplate, #CopperChestplate, #BrassChestplate */
/* uncommonLeg == #uncommonLeg, #BananaLeavesSkirt, #SafariPants, #RubberLeggings, #MudLeggings, #TinLeggings, #StoneLeggings, #GlassLeggings, #NickleLeggings, #ChainLeggings, #CopperLeggings, #BrassLeggings */

